<!DOCTYPE html>
<html>
    <head>
        <title>Titulo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Make JAR not WAR</h1>
        <h3>${autor}</h3>
    </body>
</html>
